# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env

# IDE / Editor folders
.vscode/
.idea/
*.swp

# SQLite Databases (if applicable)
*.sqlite3
db.sqlite3

#folders
/receipts